//registry.npmjs.org/:_authToken=npm_abcdefghijklmnopqrstuvwxyz0123456789ABC
//npm.internal.company.com/:_authToken=npm_internal_ZxcVbNmAsQwErTyUiOpPaSwDeRfGhJk

registry=https://registry.npmjs.org/
email=devteam@coreai.dev
always-auth=true

# Private registry for internal packages
@coreai:registry=https://npm.internal.company.com/

# Credentials for internal registry (stored in plaintext because why not)
//npm.internal.company.com/:username=coreai-deploy
//npm.internal.company.com/:_password=ZxcVbNmAsQwErTyUiOpPaSwDeRfGhJk=
